.footer {
  font-family: Inter, sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.1;
  margin: 92px auto 24px;
}

@media screen and (max-width: 768px) {
  .footer {
    margin: 88px auto 24px;
  }
}

@media screen and (max-width: 320px) {
  .footer {
    line-height: 1.2;
    margin: 64px auto 24px;
  }
}
