.places {
  max-width: 1184px;
  width: 100%;
}
.places__card {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 152px auto auto;
  grid-template-areas:
    "title artist"
    "image content"
    "boton content";
  max-width: 984px;
  width: 100%;
  row-gap: 48px;
  column-gap: 40px;
  margin-top: 80px;
}
.places__card-title {
  grid-area: title;
  max-width: 472px;
  max-height: 152px;
  color: rgba(255, 255, 255, 1);
  font-family: Inter;
  font-weight: 900;
  font-size: 72px;
  line-height: 76px;
  margin: 0;
}
.places__card-artist {
  grid-area: artist;
  font-family: Inter;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: rgba(255, 255, 255, 1);
}
.places__card-image {
  box-shadow: 10px 10px 25px 0px rgba(0, 0, 0, 0.5);
  grid-area: image;
  max-width: 460px;
  max-height: 460px;
}
.places__card-image:hover {
  filter: brightness(0.7);
}
.places__card-description {
  max-width: 472px;
  grid-area: content;
  font-family: Inter;
  font-weight: 400;
  font-size: 18px;
  line-height: 29.34px;
  color: rgba(255, 255, 255, 1);
}
.places__card-button {
  grid-area: boton;
  max-width: 289px;
  max-height: 48px;
  border-radius: 4px;
  padding-top: 13px;
  padding-right: 20px;
  padding-bottom: 13px;
  padding-left: 20px;
  box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.25);
  font-family: Inter;
  font-weight: 600;
  font-size: 18px;
  line-height: 21.78px;
  text-decoration: none;
  color: rgba(255, 255, 255, 1);
  background: linear-gradient(90deg, #0278fe 0%, #003a7b 99.98%);
}
.places__card-button:hover {
  background: linear-gradient(
    90deg,
    rgba(2, 120, 254, 0.25) 0%,
    rgba(0, 58, 123, 0.25) 99.98%
  );
}
.places__card-artisthead {
  font-family: Inter;
  font-weight: 400;
  font-size: 12px;
  line-height: 14.52px;
  letter-spacing: 1.2em;

  color: rgba(170, 170, 170, 1);
}
@media screen and (min-width: 768px) and (max-width: 1280px) {
  .places {
    max-width: 720px;
    width: 100%;
  }
  .places__card {
    max-width: 720px;
    width: 100%;
    row-gap: 25px;
    column-gap: 28px;
  }
  .places__card-title {
    max-width: 340px;
    width: 100%;
    max-height: 46px;
    font-family: Inter;
    font-size: 42px;
    line-height: 46px;
  }
  .places__card-image {
    max-width: 340px;
    width: 100%;
    max-height: 340px;
  }
  .places__card-description {
    font-family: Inter;
    font-weight: 400;
    font-size: 16px;
    line-height: 26.08px;
  }
}
@media screen and (min-width: 320px) and (max-width: 768px) {
  .places {
    max-width: 300px;
    width: 100%;
  }
  .places__card {
    max-width: 300px;
    width: 100%;
    grid-template-columns: 1fr;
    grid-template-areas:
      "title"
      "artist"
      "image"
      "content"
      "boton";
    row-gap: 30px;
    padding: 10px;
  }
  .places__card-title {
    max-width: 320px;
    width: 100%;
    max-height: 100;
    font-family: Inter;
    font-weight: 900;
    font-size: 32px;
    line-height: 35px;
  }
  .places__card-image {
    max-width: 320px;
    width: 100%;
    max-height: 100%;
  }
  .places__card-description {
    max-width: 320px;
    width: 100%;
    max-height: 100%;
  }
}
